body {
  padding: 0;
  margin: 0;
  background: #666;
  color: #fff;
  font-family: Poppins, Arial;
}

header {
  background-color: #333;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 0 20px #000;
}

.logo {
  width: 250px;
}

.container {
  text-align: center;
}

nav {
  float: right;
  padding: 20px;
  margin-top: 50px;
}

nav a {
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background: #f00;
}

.img {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #000;
}

.poster {
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 2px 2px 20px #000;
}

p,
h2 {
  margin: 20px;
}

section {
  width: 70%;
  float: left;
}

aside {
  width: 30%;
  float: right;
}

footer {
  width: 100%;
  background: #333;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 20px #000;
}
